.comment-form {
    margin: 1em 0 2em;
}

.comment-form .preview {
    background: lemonchiffon;
    padding: 0.5em;
    margin-bottom: 1em;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5) inset;
    display: none;
}

ul.comments {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

.comment ul {
    list-style-position: inside;
    margin: 1em 0;
    padding: 0;
}

.comment {
    margin: 0 0 1em 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
}

.comment .avatar {
    margin-top: 0.2em;
    margin-right: 0.75em;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    vertical-align: top;
}

.comment .content p:first-child {
    margin-top: 0;
}

.comment .header {
    line-height: 16pt;
    vertical-align: middle;
}
.comment .score,
.comment .date {
    color: silver;
    font-size: 90%;
    padding-left: 0.5em;
}
.comment .score-up.active,
.comment .score-down.active {
    font-weight: bold;
}
.comment .header .ops a {
    color: silver;
    font-size: 80%;
}
.comment .header .ops a:first-of-type:before {
    margin-left: 0.5em;
    content: '[';
}
.comment .header .ops a:not(:first-of-type):before {
    content: '|';
    margin: 0 0.3em;
}
.comment .header .ops a:last-of-type:after {
    content: ']';
}

#global-comment-list {
    text-align: center;
}
#global-comment-list .pagination-content {
    text-align: left;
}
#global-comment-list .comments>ul {
    margin-top: 0;
}
#global-comment-list ul.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#global-comment-list ul.posts>li {
    margin-bottom: 2em;
}
#global-comment-list .post-comment {
    display: -webkit-flex;
    display: flex;
}
@media all and (max-width: 40em) {
    #global-comment-list .post-comment {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
#global-comment-list .post {
    -webkit-flex-shrink: 0;
    -webkit-flex-grow: 0;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 1em;
    margin-bottom: 1em;
}
#global-comment-list .comment-add,
#global-comment-list .comments>h1 {
    display: none;
}
#global-comment-list .post-small .link {
    margin: 0;
}

.sjis {
    font-family: 'MS PGothic', 'ＭＳ Ｐゴシック', 'IPAMonaPGothic', 'Trebuchet MS', Verdana, Futura, Arial, Helvetica, sans-serif;
    border: solid 4px #ccc;
    color: #111;
    font-size: 12pt;
    line-height: 1;
    margin: 0;
    padding: 4px;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}
