body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: #fff;
	color: #555;
	font-family: 'Droid Sans', sans-serif;
	font-size: 17px;
	overflow-y: scroll;
}

h1 {
	font-weight: normal;
	font-size: 30px;
}

h2 {
	font-variant: small-caps;
	font-weight: normal;
}

h3 {
	font-weight: normal;
	font-size: 20px;
}

#middle {
	padding: 0 2em;
	position: relative;
}

#content {
	margin: 1.5em 0;
	padding: 0;
	display: inline-block;
	text-align: left;
	width: 100%;
}

a {
	color: #24A2DD;
	text-decoration: none;
	cursor: pointer; /* for links without [href] */
}
a:focus {
	outline: 2px solid #64C2ED;
}
a:hover {
	color: #34B2ED;
}

hr {
	margin: 1.5em auto;
	height: 1px;
	border: 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	box-sizing: content-box;
}

.big-button {
	color: #aaa;
}
.big-button.active {
	background: #f7fbfc;
	color: #24A2DD !important;
}

.big-button:focus,
.big-button:hover {
	background: #f7fbfc;
	color: #34B2ED !important;
	outline: 0;
}

span.spoiler:before {
	content: '[';
	color: #000;
}
span.spoiler:after {
	content: ']';
	color: #000;
}
span.spoiler {
	background: #eee;
	color: #eee;
}
span.spoiler:hover {
	color: dimgray;
}

blockquote {
	border-left: 3px solid #eee;
	margin-left: 0;
	padding: 0.3em 0.3em 0.3em 0.7em;
	background: #fafafa;
	color: #444;
}
blockquote :last-child {
	margin-bottom: 0;
}
