body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: #fff;
	color: #555;
	font-family: 'Droid Sans', sans-serif;
	font-size: 17px;
}

h2 {
	font-variant: small-caps;
	font-weight: normal;
}

#middle {
	padding: 0 2em;
}

#content {
	margin: 1.5em 0;
	padding: 0;
	display: inline-block;
	text-align: left;
}

a {
	color: #298;
	text-decoration: none;
}

a:hover {
	color: #4ba;
}

hr {
	margin: 1.5em auto;
	height: 1px;
	border: 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	box-sizing: content-box;
}

.big-button.active {
	background: #f7fbfc;
	color: #8ba !important;
}

.big-button:focus,
.big-button:hover {
	background: #f3f7f8;
	color: #7a9 !important;
}
