table.history {
	font-size: 80%;
}
table.history .addition {
	color: forestgreen;
}
table.history .addition:before {
	content: '+';
}

table.history .removal {
	color: red;
}
table.history .removal:before {
	content: '-';
}

table.history .time,
table.history .user,
table.history .subject {
	white-space: nowrap;
}

table.history .user img {
	vertical-align: middle;
}

table.history td {
	padding: 0.1em 0.25em;
	word-break: break-all;
}

table.history ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline;
}
table.history ul:before {
	content: ' (';
}
table.history ul:after {
	content: ')';
}

table.history li {
	display: inline;
}
table.history li:not(:last-of-type):after {
	content: ', ';
}

#history-wrapper {
	text-align: center;
}
#history-wrapper table {
	margin: 0 auto;
	text-align: left;
}
@media all and (min-width: 77em) {
	#history-wrapper table {
		width: 70em;
	}
}
@media all and (max-width: 77em) {
	#history-wrapper table {
		width: 100%;
	}
}
