#home {
	text-align: center;
}
#home h1 {
	margin-top: 0;
	margin-bottom: 0;
}
#home h1+p {
	margin-top: 0;
}

#home .post {
	text-align: left;
	margin: 0 auto;
	max-width: 60%;
}
#home .post .left {
	display: inline-block;
	float: left;
}
#home .post .right {
	display: inline-block;
	float: right;
}

#home .post-footer,
#home .post-footer img {
	vertical-align: middle;
}

#home .post-footer img {
	margin-left: 0.5em;
}
