#login-form p {
	text-align: center;
}
#login-form form {
	width: 22.5em;
}

#login-form .help {
	text-align: center;
}
#login-form .help ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: left;
	list-style-position: inside;
	white-space: nowrap;
}

#login-form .messages {
	margin: 0 auto;
}
