.page-list {
	text-align: center;
	list-style-type: none;
	padding: 0;
	margin: 1em auto 0 auto;
	display: inline-block;
}

.page-list li {
	display: inline-block;
}

.page-list li a {
	cursor: pointer;
	display: inline-block;
	padding: 0.4em 1.2em;
}
