.post-type-image img,
.post-type-video video {
	max-width: 100%;
}

.post-type-youtube iframe {
	width: 800px;
	height: 600px;
	border: 0;
}

#post-view-wrapper #sidebar {
	line-height: 1.33em;
	font-size: 90%;
}

#post-view-wrapper #sidebar h1 {
	margin-top: 1.5em;
}

#post-view-wrapper #sidebar h1:first-of-type {
	margin-top: 0;
}

@media all and (min-width: 62.5em) {
	#post-view-wrapper {
		display: flex;
	}

	#post-view-wrapper #sidebar {
		min-width: 15em;
		margin-right: 1em;
		flex: 1;
	}

	#post-view-wrapper #post-view {
		flex: 5;
	}
}

@media all and (max-width: 62.5em) {
	#post-view-wrapper {
		display: flex;
		flex-direction: column;
	}
	#post-view-wrapper #sidebar {
		order: 2;
		margin-bottom: 1em;
	}
	#post-view-wrapper #post-view {
		margin: 0 auto;
		max-width: 100%;
		order: 1;
	}
}

#post-view-wrapper .favorites li {
	display: inline-block;
	margin: 0 0.25em 0.25em 0;
}

#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#sidebar .tags li,
#sidebar .other-info li {
	display: block;
	word-break: break-all;
	padding-left: 1em;
	text-indent: -1em;
}

#sidebar .tags .tag-wrapper {
	max-width: 100%;
	position: relative;
	display: inline-block;
}
#sidebar .tags li a {
	display: inline-block;
	padding-left: 1em; /* ? */
}
#sidebar .tags li .usages {
	color: silver;
	padding-left: 0.5em;
}

#sidebar .author-box img {
	float: left;
	margin-right: 0.5em;
}
#sidebar .author-box .author-name {
	font-weight: bold;
}

#sidebar .other-info {
	margin-top: 1em;
	line-height: 150%;
}

#sidebar .essential {
	display: flex;
	justify-content: space-around;
	margin-bottom: 2em;
}
#sidebar .essential li {
	display: block;
	margin: 0 0.25em;
	vertical-align: top;
}
#sidebar .essential li i.fa {
	font-size: 30px;
}
#sidebar .essential li a {
	display: block;
	text-align: center;
	font-size: 12px;
}

#post-view-wrapper .post-edit-wrapper {
	padding: 1em;
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	display: none;
}

#post-view-wrapper .post-edit-wrapper .file-handler {
	margin: 0.5em 0;
}

#post-view-wrapper .post-history-wrapper {
	padding: 1em;
	display: none;
	word-break: break-all;
}
