#post-list {
	text-align: center;
}

#post-list .wrapper {
	display: inline-block;
	margin: 0 auto;
}

#post-list ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#post-list .posts li a {
	display: block;
	margin: 0.4em;
	border: 1px solid #999;
}
#post-list .posts li img {
	display: block;
}

#post-list .posts li a:focus,
#post-list .posts li a:hover {
	background: #afe;
	border-color: #5da;
	box-shadow: 0 0 0 2px #5da;
	outline: 0;
}

#post-list .posts li a:focus img,
#post-list .posts li a:hover img {
	opacity: .9;
}
