#top-navigation {
	width: 100%;
}

#top-navigation ul {
	list-style-type: none;
	padding: 0 2em;
	margin: 0;
}

#top-navigation li {
	display: inline-block;
}

#top-navigation li a {
	display: inline-block;
	text-transform: lowercase;
	font-variant: small-caps;
	padding: 0.5em 1em;
	color: #aaa;
	font-size: 15px;
}

#top-navigation li a:focus,
#top-navigation li a:hover {
	outline: 0;
}

#top-navigation li:first-child a {
	margin-left: -1em;
}

#top-navigation li:last-child a {
	margin-right: -1em;
}

#top-navigation i {
	font-size: 40px;
	margin: 0 10px 5px;
}
