form.auth {
	display: table;
	border-collapse:separate;
	border-spacing: 0 0.5em;
	width: 400px;
}

form.auth div {
	display: table-row;
}

form.auth label {
	display: table-cell;
	text-align: right;
	float: left;
	width: 144px;
	margin: 5px 16px 0 0;
}

form.auth input {
	display: table-cell;
	font-family: inherit;
	display: block;
}

form.auth input:not([type="submit"]) {
	width: 156px;
	padding: 5px;
	border-width: 2px;
	margin: 0;
}

form.auth input[type="submit"] {
	margin: 0 auto;
	background-color: #77f;
	border: 0;
	color: white;
	font-weight: bold;
	font-size: 1em;
	padding: 8px 16px;
}

form.auth input[type="submit"]:hover {
	background-color: #55f;
}

form.auth p {
	text-align: center;
	margin: 10px 0;
}
