.comment-group .post-wrapper {
	float: left;
}
.comment-group .comments {
	margin-left: 170px;
	overflow: hidden;
}

.comment-group .post {
	margin-right: 1em;
	margin-bottom: 1em;
}

.comment-group:not(:last-child) {
	border-bottom: 1px solid #eee;
	margin-bottom: 1em;
}
