.comment {
	margin: 0 0 1em 0;
}
.comment .avatar {
	float: left;
}
.comment .body {
	margin-left: 60px;
}
.comment .header {
	margin-bottom: 0.2em;
}
.comment .avatar a {
	display: inline-block;
}
.comment .avatar img {
	width: 40px;
	height: 40px;
	background-image: url('http://www.gravatar.com/avatar/0?f=y&d=mm&s=40');
	margin-right: 0.5em;
}
.comment {
	clear: left;
}
.comment .date {
	margin: 0 0.2em 0 0.75em;
	color: silver;
}

.comment .date,
.comment .edit,
.comment .delete {
	font-size: small;
}
.comment .edit:before,
.comment .delete:before {
	margin-left: 0.2em;
	content: ' [';
	color: silver;
}
.comment .edit:after,
.comment .delete:after {
	content: ']';
	color: silver;
}
.comment .edit a,
.comment .delete a {
	color: silver;
}

.comment .edit a:hover,
.comment .delete a:hover,
.comment .edit a:focus,
.comment .delete a:focus {
	color: red;
}
