.post .thumb {
	width: 150px;
	height: 150px;
}

.comment-group .post-wrapper {
	float: left;
}
.comment-group .comments {
	margin-left: 170px;
	overflow: hidden;
}

.comment-group .post {
	margin-right: 1em;
	margin-bottom: 1em;
}

.comment-group:not(:last-child) {
	border-bottom: 1px solid #eee;
	margin-bottom: 1em;
}

.small-screen .comment-group .post-wrapper {
	float: none;
	text-align: center;
}
.small-screen .comment-group .post {
	margin: 0 auto 1em auto;
}
.small-screen .comment-group .comments {
	margin-left: 0;
}

.hellip {
	margin-bottom: 2em;
	display: inline-block;
}
