body {
	background: white;
	color: black;
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans', sans-serif;
	font-size: 12pt;
}

#content {
	padding: 0;
	margin: 1.5em 0.75em;
}

nav {
	background: #eee;
	color: black;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline-block;
}

nav li input,
nav li a {
	color: black;
	display: inline-block;
	margin-bottom: 3px;
	text-decoration: none;
}

nav li a {
	padding: 0.2em 0.75em;
	outline: 0;
}

nav li.search {
	background: white;
	margin: 0 0.25em;
	padding: 0.2em 0.5em;
}

nav li a:focus,
nav li a:hover {
	color: firebrick;
	border-bottom: 3px solid firebrick;
	margin-bottom: 0;
}

nav li.search input {
	border: 0;
}

.main-wrapper {
	margin: 0 auto;
	min-width: 700px;
	width: 80%;
	max-width: 1000px;
}

/* small screens */
@media (max-width: 699px), (max-device-width: 699px) {
	.main-wrapper {
		min-width: 0;
		width: 95%;
		max-width: 700px;
	}
}


.clear {
	clear: both;
}

#sidebar {
	float: left;
	width: 25%;
	margin-right: 1em;
}

#sidebar h1 {
	margin-top: 0;
	text-align: center;
	font-weight: normal;
}

#inner-content {
	overflow: hidden;
}

p:first-child,
h1:first-child {
	margin-top: 0;
}
