#welcome {
	text-align: center;
}
#welcome p {
	font-size: small;
	margin-top: 0;
}
#welcome p span:not(:last-child):after {
	content: '\022C5';
	margin: 0 0.5em;
}

#content h1 {
	font-size: 26pt;
	margin-top: 1em;
	margin-bottom: 0;
}

#content {
	margin: 0 auto;
	width: 70%;
	min-width: 500px;
	position: relative;
}
.small-screen #content {
	width: 100%;
	min-width: 0;
	max-width: 500px;
}

#content .header .tags:before {
	margin: 0 0.5em;
	content: '\2013';
}
#content .header ul {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}
#content .header li {
	display: inline;
}
#content .header li:not(:last-child) a:after {
	content: ', ';
}

#content .body {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJElEQVQImWNgYGBgePfu3X8YZoABFA6SIqwS+HXgtANZF7IEAJnGPJE70lLLAAAAAElFTkSuQmCC');
	margin: 1em 0;
	text-align: center;
}
#content .body img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}
#content .body a {
	display: block;
}

#content .header .favs-comments {
	margin-left: 0.5em;
	float: right;
}

#content .footer {
	text-align: right;
}
