#content form {
	margin-bottom: 1em;
}

#content input {
	margin: 0 1em;
	max-width: 50%;
}

#content code {
	font-size: 9pt;
}

#content .paginator-content {
	margin: 0;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#content code strong {
	background: #fee;
}
