.items .item {
	width: 30%;
	float: left;
}

.items .sep {
	width: 3%;
	float: left;
}

#upload-step1 {
	display: table;
	width: 50%;
	margin: 0 auto;
}
#file-handler-wrapper {
	display: table;
	width: 100%;
}
#file-handler {
	cursor: pointer;
	font-size: 150%;
	text-align: center;
	vertical-align: middle;
	height: 8em;
	display: table-cell;
	border: 3px dashed #ddd;
}
#file-handler.active {
	background: #eee;
	border-color: hsl(0,70%,50%);
}

#url-handler {
	margin-top: 0.5em;
	position: relative;
}
#url-handler .input-wrapper {
	margin-right: 8.5em;
}
#url-handler button {
	position: absolute;
	top: 0;
	right: 0;
	width: 8em;
}

#hybrid-view {
	text-align: center;
}
.thumbnail img {
	background-image: url('../img/thumb.jpg');
	border: 1px solid black;
	vertical-align: middle;
	display: block;
}


#posts-wrapper {
	width: 40%;
	margin-right: 1em;
	float: left;
}
#posts {
	border-spacing: 0;
}
#posts td,
#posts th {
	padding: 0.2em 0.5em;
}
#posts th {
	font-weight: normal;
	text-align: left;
}
#posts tr.selected {
	background: lemonchiffon;
}
#posts .tags {
	width: 100%;
	text-align: left;
}
#posts .safety {
	text-align: center;
}
#posts .safety [class^=safety-] {
	box-shadow: inset 0 0 0 3px rgba(0,0,0,0.1);
	width: 25px;
	height: 25px;
	margin: 0 auto;
}
#posts .safety-safe    { background: #b2efa2; }
#posts .safety-sketchy { background: #f0e4a8; }
#posts .safety-unsafe  { background: #fbc6b6; }
#posts .thumbnail img {
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}
#post-ops {
	list-style-type: none;
	margin: 1em 0;
}
#post-ops li {
	display: inline-block;
	margin: 0 1em 0 0;
}


#post-edit-form-wrapper {
	display: inline-block;
	width: 57.5%;
}
#post-edit-form-wrapper p {
	margin-top: 0;
}
#post-edit-form {
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
}
#post-edit-form .thumbnail img {
	max-width: 100%;
	max-height: 300px;
	margin: 0 auto 1em auto;
}
#post-edit-form .file-name strong {
	vertical-align: middle;
}


#post-edit-form,
#upload-step2,
#posts-wrapper,
.alert,
.template {
	display: none;
}

ul.tagit {
	display: block;
	vertical-align: middle;
	margin: 0;
	font-size: 1em;
}

#the-submit-wrapper {
	text-align: center;
	clear: both;
}
#the-submit {
	margin: 1em auto;
	font-size: 14.5pt;
	padding: 0.35em 2em;
	height: auto;
	line-height: auto;
}

#lightbox {
	display: none;
	position: absolute;
	pointer-events: none;
	position: absolute;
	margin-left: 10px;
}
#lightbox img {
	max-width: 400px;
	max-height: 400px;
	background: white;
	border: 0.5em solid white;
	box-shadow: 0 0 0 1px #eee;
	position: relative;
}
#lightbox:after {
	content: '';
	position: absolute;
	left: -8px;
	top: 50%;
	margin-top: -8px;
	width: 12px;
	height: 12px;
	background: white;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
	transform: rotate(45deg);
}

#uploading-alert {
	display: none;
	text-align: left;
}
