#sidebar {
	width: 200px;
	line-height: 1.33em;
	font-size: 90%;
}

.post-wrapper {
	/*text-align: center;*/
}

img,
embed {
	max-width: 100%;
}

.tags ul {
	list-style-type: none;
	margin: 0 0 0 1em;
	padding: 0;
}
.tags li .count {
	padding-left: 0.5em;
	color: silver;
}

nav {
	margin-bottom: 2em;
}
nav .left {
	float: left;
}
nav .right {
	float: right;
}
nav a.inactive {
	color: silver;
}
nav a.inactive i[class*='icon-'] {
	background-color: silver;
}

i.icon-prev {
	background-position: -12px -1px;
}
i.icon-next {
	background-position: -1px -1px;
}
i.icon-prev,
i.icon-next {
	margin: 0 8px;
	vertical-align: middle;
	width: 8px;
	height: 20px;
}
i.icon-dl {
	margin: 0;
	width: 20px;
	height: 20px;
	background-position: -22px -1px;
}

.permalink {
	margin: 1em 0;
}
.permalink .icon-dl {
	vertical-align: middle;
	margin-right: 1em;
}
.permalink span {
	vertical-align: middle;
}
.permalink .ext:after {
	content: ', ';
}

.details .key {
	margin-right: 0.5em;
}

.options nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.favorites ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.favorites li {
	display: inline-block;
}
.favorites a {
	margin: 2px;
}
