#sidebar {
	width: 224px;
	line-height: 1.33em;
	font-size: 90%;
}

img,
embed {
	max-width: 100%;
}

.post-type-image img {
	/*background: url('../img/bk-image.png') lemonchiffon;*/
}
.post-type-flash embed {
	background: url('../img/bk-swf.png') lemonchiffon;
}

#sidebar .relations ul,
#sidebar .tags ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#sidebar .tags li {
	overflow: hidden;
	text-overflow: ellipsis;
}
#sidebar .tags li .count {
	padding-left: 0.5em;
	color: silver;
}

#around {
	margin-bottom: 2em;
}
#around .text {
	font-size: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	margin-top: 0.75em;
}
#around .left {
	float: left;
}
#around .right {
	float: right;
}
#around a.disabled {
	color: silver;
}
#around a.disabled i[class*='icon-'] {
	background-color: silver;
}

#sidebar .uploader img {
	vertical-align: middle;
	margin: 0 0.5em 0 0;
	width: 16px;
	height: 16px;
	background-image: url('http://www.gravatar.com/avatar/0?f=y&d=mm&s=16');
}

#sidebar .safety-safe {
	color: #43aa43;
}
#sidebar .safety-sketchy {
	color: #d4a627;
}
#sidebar .safety-unsafe {
	color: #df4b0d;
}

#sidebar .score .selected {
	font-weight: bold;
}


i.icon-prev {
	background-position: -12px -1px;
}
i.icon-next {
	background-position: -1px -1px;
}
i.icon-prev,
i.icon-next {
	margin: 0 8px;
	vertical-align: middle;
	width: 8px;
	height: 20px;
}
i.icon-dl {
	margin: 0;
	width: 20px;
	height: 20px;
	background-position: -22px -1px;
}

.permalink {
	margin: 1em 0;
}
.permalink .icon-dl {
	vertical-align: middle;
	margin-right: 1em;
}
.permalink span {
	vertical-align: middle;
}
.permalink .ext:after {
	content: ', ';
}

.options ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.favorites p {
	margin: 0;
}
.favorites ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.favorites li {
	display: inline-block;
}
.favorites a {
	margin: 2px;
}

form.edit-post {
	display: none;
}
form.edit-post .safety label:not(.left) {
	margin-right: 0.75em;
}
ul.tagit {
	display: block;
	vertical-align: middle;
	margin: 0;
	font-size: 1em;
}

.preview {
	border: 1px solid yellow;
	background: url('../img/preview.png') lemonchiffon;
	padding: 0.5em;
	display: none;
}

form.add-comment textarea {
	width: 50em;
	height: 8em;
}
