.post-wrapper {
	/*text-align: center;*/
}

embed {
	width: 100%;
	height: 500px;
	margin: 0 auto;
}
img {
	max-width: 100%;
}

.tags ul {
	list-style-type: none;
	margin: 0 0 0 1em;
	padding: 0;
}
.tags li .count {
	padding-left: 0.5em;
	color: silver;
}

i.icon-prev {
	background-position: -12px -1px;
}
i.icon-next {
	background-position: -1px -1px;
}
i.icon-prev,
i.icon-next {
	margin: 0 8px;
	vertical-align: middle;
	width: 8px;
	height: 20px;
}
i.icon-dl {
	margin: 0;
	width: 20px;
	height: 20px;
	background-position: -22px -1px;
}

nav .left {
	float: left;
}
nav .right {
	float: right;
}
nav a.inactive {
	color: silver;
}
nav a.inactive i[class*='icon-'] {
	background-color: silver;
}
#sidebar h1 {
	margin-top: 1em;
}

.dl-box {
	float: left;
	margin: 0 2em 0 1em;
}
.dl-box span {
	display: block;
	text-align: center;
	font-size: small;
}

.details-box {
	font-size: small;
	line-height: 1.33em;
}
.details-box .key {
	margin-right: 0.5em;
}
