.post {
	margin: 0.5em;
}
.posts-wrapper {
	text-align: center;
}
.posts {
	margin: 0 auto;
}

.form-wrapper {
	text-align: center;
}
.small-screen .form-wrapper {
	width: 100%;
}
form.aligned {
	margin: 0 auto;
	width: 24em;
	text-align: left;
}
form.aligned label.left {
	width: 7em;
}
form h1 {
	display: none;
}

li.mass-tag {
	float: right;
}
