.items .item {
	width: 30%;
	float: left;
}

.items .sep {
	width: 3%;
	float: left;
}

#upload-step1 {
	display: table;
	width: 100%;
}
#file-handler-wrapper {
	display: table;
	width: 100%;
}
#file-handler {
	cursor: pointer;
	font-size: 150%;
	text-align: center;
	vertical-align: middle;
	height: 8em;
	display: table-cell;
	border: 3px dashed #ddd;
}
#file-handler.active {
	background: #eee;
	border-color: hsl(0,70%,50%);
}

#url-handler {
	margin-top: 0.5em;
	position: relative;
}
#url-handler .input-wrapper {
	margin-right: 8.5em;
}
#url-handler button {
	position: absolute;
	top: 0;
	right: 0;
	width: 8em;
}

.post .thumbnail {
	width: 150px;
	height: 150px;
	line-height: 150px;
	background-image: url('../img/thumb.jpg');
	background-size: 150px 150px;
	border: 1px solid black;
	vertical-align: middle;
	text-align: center;
	display: block;
	float: left;
	margin-right: 10px;
}

.post .alert,
#upload-step2,
#post-template {
	display: none;
}

.post {
	margin: 2em 0;
}

.post .ops {
	float: right;
}

.post .ops a {
	cursor: pointer;
	margin-left: 0.5em;
	vertical-align: middle;
}
.post a span {
	margin-left: 0.25em;
	vertical-align: middle;
}

.post .move-up-trigger,
.post .move-down-trigger {
	color: rgba(0, 64, 128, 0.5);
}
.post .move-up-trigger:hover,
.post .move-down-trigger:hover {
	color: #00f;
}
.post .move-up-trigger span,
.post .move-down-trigger span {
	color: rgba(0, 64, 128, 1);
}

.post:first-child .move-up-trigger {
	display: none;
}
.post:last-child .move-down-trigger {
	display: none;
}


.post .remove-trigger {
	color: rgba(128, 0, 0, 0.5);
}
.post .remove-trigger:hover {
	color: #f00;
}
.post .remove-trigger span {
	color: rgba(128, 0, 0, 1);
	font-size: 130%;
}

.post .file-name strong {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50%;
	white-space: pre;
	display: inline-block;
	vertical-align: middle;
	padding: 0.5em 0;
}

.safety-safe {
	color: #43aa43;
}
.safety-sketchy {
	color: #d4a627;
}
.safety-unsafe {
	color: #df4b0d;
}

ul.tagit {
	display: block;
	vertical-align: middle;
	margin: 0;
	font-size: 1em;
}

.submit-wrapper {
	text-align: center;
}
#the-submit {
	margin: 0 auto;
	font-size: 14.5pt;
	padding: 0.35em 2em;
	height: auto;
	line-height: auto;
}

.post .form-wrapper {
	overflow: hidden;
}
