.post {
	margin: 8px;
}
.posts-wrapper {
	text-align: center;
}
.posts {
	margin: -8px auto 0 auto;
}

.form-wrapper {
	text-align: center;
	margin-bottom: 1em;
}
.small-screen .form-wrapper {
	width: 100%;
}
#content form {
	margin: 0 auto;
	width: 24em;
	text-align: left;
}
#content form label {
	width: 9em;
}
#content form h1 {
	display: none;
}

li.mass-tag {
	float: right;
}
