#welcome {
	text-align: center;
}
#welcome p {
	font-size: small;
	margin-top: 0;
}
#welcome p span:not(:last-child):after {
	content: '\022C5';
	margin: 0 0.5em;
}

#content h1 {
	font-size: 26pt;
	margin-top: 1em;
	margin-bottom: 0;
}

#content .main-wrapper>* {
	margin: 0 auto;
	width: 70%;
	position: relative;
}
@media only screen and (max-width:700px) {
	#content .main-wrapper>* {
		width: 100%;
	}
}

#content .body {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJElEQVQImWNgYGBgePfu3X8YZoABFA6SIqwS+HXgtANZF7IEAJnGPJE70lLLAAAAAElFTkSuQmCC');
	margin-top: 1em;
	text-align: center;
}
#content .body img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}
#content .body a {
	display: block;
}

#content .footer {
	font-size: small;
	color: dimgray;
	margin: 0.5em auto 3em auto;
}
#content .footer .left {
	float: left;
}
#content .footer .right {
	float: right;
}
#content .footer ul {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}
#content .footer li {
	display: inline;
}
#content .footer li:not(:last-child) a:after {
	content: ', ';
}
