.tags ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	column-width: 14em;
	-moz-column-width: 14em;
	-webkit-column-width: 14em;
}
.tags li {
	margin: 0.2em 0.5em;
	text-align: top;
	width: 14em;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.form-wrapper {
	max-width: 24em;
}
.small-screen .form-wrapper {
	width: 100%;
}
#content form label {
	width: 9em;
}
#content form h1 {
	display: none;
}

.frequency0 { color: #ecc8c8; }
.frequency1 { color: #e6b7b7; }
.frequency2 { color: #e0a7a7; }
.frequency3 { color: #db9696; }
.frequency4 { color: #d58686; }
.frequency5 { color: #cf7575; }
.frequency6 { color: #c96464; }
.frequency7 { color: #c35454; }
.frequency8 { color: #be4343; }
.frequency9 { color: #b83333; }
.frequency10 { color: #b22222; }

nav.sort-styles ul {
	list-style-type: none;
	margin: 0 0 2.5em 0;
	text-align: center;
	padding: 0;
}
nav.sort-styles li {
	display: inline-block;
	font-size: 105%;
	margin: 0 1em;
	padding-bottom: 0.2em;
}
nav.sort-styles li.active {
	border-bottom: 3px solid hsl(0,70%,50%);
}
