.items .item {
	width: 30%;
	float: left;
}

.items .sep {
	width: 3%;
	float: left;
}

.tab {
	margin-bottom: 1em;
}
.tab.url {
	display: none;
}

#file-handler-wrapper {
	display: table;
	width: 100%;
}
#file-handler {
	cursor: pointer;
	font-size: 150%;
	text-align: center;
	vertical-align: middle;
	height: 8em;
	display: table-cell;
	border: 3px dashed #ddd;
}
#file-handler.active {
	background: #eee;
	border-color: firebrick;
}

#url-handler textarea {
	width: 100%;
	height: 10em;
	margin-bottom: 0.5em;
}

.post .thumbnail {
	width: 100px;
	height: 100px;
	line-height: 100px;
	background-image: url('../img/thumb.png');
	background-size: 100px 100px;
	border: 1px solid black;
	vertical-align: middle;
	text-align: center;
	display: block;
	float: left;
	margin-right: 10px;
}

.post .alert,
#upload-step2,
#post-template {
	display: none;
}

.post {
	margin: 2em 0;
}

.post .ops {
	float: right;
}

.post .ops a {
	cursor: pointer;
	margin-left: 0.5em;
	vertical-align: middle;
}
.post a span {
	margin-left: 0.25em;
	vertical-align: middle;
}

.post .move-up-trigger,
.post .move-down-trigger {
	color: rgba(0, 64, 128, 0.5);
}
.post .move-up-trigger:hover,
.post .move-down-trigger:hover {
	color: #00f;
}
.post .move-up-trigger span,
.post .move-down-trigger span {
	color: rgba(0, 64, 128, 1);
}

.post:first-child .move-up-trigger {
	display: none;
}
.post:last-child .move-down-trigger {
	display: none;
}


.post .remove-trigger {
	color: rgba(128, 0, 0, 0.5);
}
.post .remove-trigger:hover {
	color: #f00;
}
.post .remove-trigger span {
	color: rgba(128, 0, 0, 1);
	font-size: 130%;
}

.post label {
	line-height: 33px;
}
.post label.left {
	display: inline-block;
	width: 60px;
	padding-right: 10px;
	float: left;
}
.post .safety label:not(.left) {
	margin-right: 0.75em;
}

.post .file-name strong {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50%;
	display: inline-block;
	vertical-align: middle;
	line-height: 33px;
}

.safety-sfw {
	color: #63ca63;
}
.safety-sketchy {
	color: #f4c657;
}
.safety-nsfw {
	color: #df4b0d;
}

ul.tagit {
	display: block;
	vertical-align: middle;
	margin: 0;
	font-size: 1em;
}

#the-submit {
	margin: 0 0 0 205px;
}

.post .form-wrapper {
	overflow: hidden;
}
