#sidebar {
	width: 200px;
	font-size: 90%;
}

.tabs ul {
	list-style-type: none;
	margin: 0 0 1em 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
.tabs li {
	display: inline-block;
}

.tabs li a {
	display: inline-block;
	padding: 0.5em 1em;
	margin-bottom: -1px;
}

.tabs li a {
	border: 1px solid white;
	border-bottom: 1px solid #ccc;
	color: silver;
}
.tabs li.selected a {
	border: 1px solid #ccc;
	border-bottom: 1px solid white;
	color: inherit;
}

.avatar-wrapper {
	text-align: center;
}

.options ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

form.aligned label.left {
	width: 10em;
}

form.edit .alert {
	margin: 1em 0;
}
