#sidebar {
	font-size: 90%;
}

.avatar-wrapper {
	text-align: center;
}

.options ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

form.settings label.left,
form.delete label.left,
form.edit label.left {
	width: 9em;
}

form.settings .alert,
form.delete .alert,
form.edit .alert {
	margin: 1em 0;
}

form.settings input,
form.delete input,
form.edit select,
form.edit input {
	width: 16em;
	max-width: 90%;
}
