#sidebar {
	font-size: 90%;
}

.avatar-wrapper {
	text-align: center;
}

.options ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#content form {
	max-width: 30em;
}
#content form label {
	width: 10em;
}
#content form .alert {
	margin: 1em 0;
}
