nav.sort-styles ul {
	list-style-type: none;
	margin: 0 0 2.5em 0;
	text-align: center;
	padding: 0;
}
nav.sort-styles li {
	display: inline-block;
	font-size: 105%;
	margin: 0 1em;
	padding-bottom: 0.2em;
}
nav.sort-styles li.active {
	border-bottom: 3px solid firebrick;
}

.users-wrapper {
	text-align: center;
}
.users {
	column-width: 20em;
	-moz-column-width: 20em;
	-webkit-column-width: 20em;
}

.user {
	text-align: initial;
	line-height: 1.5em;
	margin-bottom: 1em;
	margin-right: 1em;
	white-space: pre;
}

.user a.avatar {
	display: block;
	float: left;
}
.user img {
	width: 100px;
	height: 100px;
	margin-right: 1em;
}
.user .details {
	display: inline-block;
	text-overflow: ellipsis;
}

.user h1 {
	margin-top: 0;
	margin-bottom: 0.25em;
}
