<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<!-- build:remove -->
	<title>szuru2</title>
	<!-- /build -->
	<!-- build:template
	<title><%= serviceName %></title>
	/build -->
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
	<!-- build:template
		<link rel="stylesheet" type="text/css" href="app.min.css?<%= timestamp %>"/>
	/build -->
	<!-- build:remove -->
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700"/>
	<link rel="stylesheet" type="text/css" href="/css/core.css"/>
	<link rel="stylesheet" type="text/css" href="/css/forms.css"/>
	<link rel="stylesheet" type="text/css" href="/css/messages.css"/>
	<link rel="stylesheet" type="text/css" href="/css/top-navigation.css"/>
	<link rel="stylesheet" type="text/css" href="/css/pager.css"/>
	<link rel="stylesheet" type="text/css" href="/css/login-form.css"/>
	<link rel="stylesheet" type="text/css" href="/css/registration-form.css"/>
	<link rel="stylesheet" type="text/css" href="/css/post-upload.css"/>
	<link rel="stylesheet" type="text/css" href="/css/user-list.css"/>
	<link rel="stylesheet" type="text/css" href="/css/user.css"/>
	<link rel="stylesheet" type="text/css" href="/css/post-list.css"/>
	<link rel="stylesheet" type="text/css" href="/css/post.css"/>
	<!-- /build -->
</head>

<body>
	<div id="main">
		<div id="top-navigation"></div>
		<div id="middle">
			<div id="wait">
				<div id="wait-cover">
					<div class="spinner">
						<i class="fa fa-spin fa-circle-o-notch"></i>
						<p>Loading&hellip;</p>
					</div>
				</div>
			</div>

			<div id="content"></div>
		</div>
	</div>

	<!-- build:template
	<% _.each(templates, function(templateString, templateName) { %>
		<script type="text/template" id="<%= templateName %>-template">
			<%= templateString %>
		</script>
	<% }) %>
	/build -->

	<!-- build:template
		<script type="text/javascript" src="app.min.js?<%= timestamp %>"></script>
	/build -->
	<!-- build:remove -->
	<script type="text/javascript" src="/js/DI.js"></script>
	<script type="text/javascript" src="/js/Promise.js"></script>
	<script type="text/javascript" src="/js/State.js"></script>
	<script type="text/javascript" src="/js/Api.js"></script>
	<script type="text/javascript" src="/js/Auth.js"></script>
	<script type="text/javascript" src="/js/Util.js"></script>
	<script type="text/javascript" src="/js/Keyboard.js"></script>
	<script type="text/javascript" src="/js/BrowsingSettings.js"></script>
	<script type="text/javascript" src="/js/Controls/FileDropper.js"></script>
	<script type="text/javascript" src="/js/Controls/TagInput.js"></script>
	<script type="text/javascript" src="/js/PresenterManager.js"></script>

	<script type="text/javascript" src="/js/Presenters/TopNavigationPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/PagedCollectionPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/MessagePresenter.js"></script>

	<script type="text/javascript" src="/js/Presenters/LoginPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/LogoutPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/RegistrationPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/UserActivationPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/UserListPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/UserBrowsingSettingsPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/UserAccountSettingsPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/UserAccountRemovalPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/UserPresenter.js"></script>

	<script type="text/javascript" src="/js/Presenters/PostListPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/PostUploadPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/PostPresenter.js"></script>

	<script type="text/javascript" src="/js/Presenters/CommentListPresenter.js"></script>

	<script type="text/javascript" src="/js/Presenters/TagListPresenter.js"></script>

	<script type="text/javascript" src="/js/Presenters/HelpPresenter.js"></script>
	<script type="text/javascript" src="/js/Presenters/HomePresenter.js"></script>

	<script type="text/javascript" src="/js/Router.js"></script>
	<script type="text/javascript" src="/js/Bootstrap.js"></script>
	<!-- /build -->
</body>
</html>
