[submodule "chibi-core"]
	path = lib/chibi-core
	url = https://github.com/rr-/chibi-core.git
[submodule "php-markdown"]
	path = lib/php-markdown
	url = https://github.com/michelf/php-markdown.git
[submodule "redbean"]
	path = lib/redbean
	url = https://github.com/gabordemooij/redbean.git
