# User-specific configuration
config.yaml
.env
sql/
data/

# Client Development Artifacts
*/*_modules/
client/public

# Server Development Artifacts
.coverage
.cache
server/**/lib/
server/**/bin/
server/**/pyvenv.cfg
__pycache__/

.vscode
