# User-specific configuration
config.yaml
.env

# Client Development Artifacts
*/*_modules/
client/public

# Server Development Artifacts
.coverage
.cache
server/**/lib/
server/**/bin/
server/**/pyvenv.cfg
__pycache__/

# IDE files
.idea
*.iml