[submodule "chibi-core"]
	path = lib/chibi-core
	url = https://github.com/rr-/chibi-core.git
[submodule "php-markdown"]
	path = lib/php-markdown
	url = https://github.com/michelf/php-markdown.git
[submodule "lib/chibi-sql"]
	path = lib/chibi-sql
	url = https://github.com/rr-/chibi-sql.git
[submodule "lib/TextCaseConverter"]
	path = lib/TextCaseConverter
	url = https://gist.github.com/rr-/10522533.git
