# Database credentials
POSTGRES_USER=szuru
POSTGRES_PASSWORD=changeme

# This shows up on the homescreen, indicating build information
BUILD_INFO=latest

# Port to expose HTTP service
# When no hostname is specified, this port will be exposed
# publicly. For reverse proxying, change to '127.0.0.1:8080'
PORT=8080

# Directory to store image data
MOUNT_DATA=/var/local/szurubooru/data

# Directory to store database files
MOUNT_SQL=/var/local/szurubooru/sql

