# Database credentials
POSTGRES_USER=szuru
POSTGRES_PASSWORD=changeme

# This shows up on the homescreen, indicating build information
BUILD_INFO=latest

# Port to expose HTTP service
PORT=8080

# Directory to store image data
MOUNT_DATA=/var/local/szurubooru/data

# Directory to store database files
MOUNT_SQL=/var/local/szurubooru/sql

