<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./src/Bootstrap.php" colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false">

	<testsuites>
		<testsuite name="Main test suite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
