.global-comment-list
    text-align: left

    &>ul
        list-style-type: none
        margin: 1em 0
        padding: 0

        @media (max-width: 700px)
            &>li
                margin-bottom: 5em
                padding: 1vw
            .post-thumbnail
                margin-bottom: 1em
                .thumbnail
                    width: 50vw
                    height: 33vw

        @media (min-width: 700px)
            &>li
                padding-left: 13em
                margin-bottom: 2em
            .post-thumbnail
                float: left
                margin: 0 0 1em -13em
                .thumbnail
                    width: 12em
                    height: 8em

        &>li
            clear: both

        .post-thumbnail
            vertical-align: top
            margin-right: 1em
            a
                display: inline-block

        .comments-container
            width: 100%
