@import colors

.expander
    &.collapsed
        margin-bottom: 1em
        &>*
            display: none
        &>header
            display: block
    header
        background: $active-tab-background-color
        line-height: 2em
        a
            padding: 0 0.5em
            display: block
            color: mix($text-color, $inactive-link-color)
            font-size: 120%
            i
                font-size: 1em
                color: $inactive-link-color
                float: right
                line-height: 2rem
    .expander-content
        padding: 0.5em 0.5em 2em 0.5em

.darktheme .expander
    header
        background: $active-tab-background-color-darktheme
        a
            color: mix($text-color-darktheme, $inactive-link-color-darktheme)
            i
                color: $inactive-link-color-darktheme
