form {
    display: block;
    width: 20em;
}
form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
form ul li {
    margin-top: 0.5em;
}
form ul li label {
    display: block;
    padding: 0.5em 0;
}
form .input {
    margin-bottom: 1em;
}
form .buttons {
    margin-top: 1em;
}
form .input li:first-child label:not(.radio):not(.checkbox):not(.file-dropper),
form .input li:first-child {
    padding-top: 0;
    margin-top: 0;
}
form .hint {
    margin-top: 0.5em;
    margin-bottom: 0;
    color: var(--inactive-link-color);
    font-size: 80%;
    line-height: 120%;
}

form.tabular ul {
    display: table;
    width: 100%;
}
form.tabular ul li {
    display: table-row;
}
form.tabular ul li label:not(.radio):not(.checkbox):not(.file-dropper) {
    display: table-cell;
    width: 33%;
}
form.tabular .messages,
form.tabular .buttons {
    margin-left: 33%;
}



/*
 * Radio buttons and checkboxes
 */
input[type=radio], input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
.radio, .checkbox {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    padding-left: calc(20px + 0.5em) !important;
    vertical-align: middle;
    cursor: pointer;
}
.radio:hover:before, .checkbox:hover:before {
    border-color: var(--main-color);
}
.radio:before {
    border-radius: 100%;
}
.radio:before, .checkbox:before {
    transition: border-color 0.1s linear;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin-top: -10px;
    width: 16px;
    height: 16px;
    background: var(--input-enabled-background-color);
    border: 2px solid var(--input-enabled-border-color);
    content: '';
}
.radio:after {
    background: var(--main-color);
    transition: opacity 0.1s linear;
    position: absolute;
    top: 50%;
    left: 5px;
    display: block;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    opacity: 0;
}
.checkbox:after {
    transition: opacity 0.1s linear;
    position: absolute;
    top: 50%;
    left: 6px;
    display: block;
    margin-top: -7px;
    width: 5px;
    height: 9px;
    border-right: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    content: '';
    opacity: 0;
    transform: rotate(45deg);
}

input[type=radio]:checked + .radio:before,
input[type=checkbox]:checked + .checkbox:before {
    border-color: var(--main-color);
}
input[type=radio]:checked + .radio:after,
input[type=checkbox]:checked + .checkbox:after {
    opacity: 1;
}
input[type=radio]:disabled + .radio:before,
input[type=checkbox]:disabled + .checkbox:before,
input[type=radio]:disabled + .radio:after,
input[type=checkbox]:disabled + .checkbox:after {
    border-color: var(--input-disabled-text-color);
}
input[type=radio]:disabled + .radio,
input[type=checkbox]:disabled + .checkbox {
    border-color: var(--input-disabled-font-color);
}
input[type=radio]:focus + .radio:before,
input[type=checkbox]:focus + .checkbox:before {
    border-color: var(--main-color);
}



/*
 * Regular inputs
 */
select,
textarea,
input[type=text],
input[type=email],
input[type=password] {
    font-family: 'Inconsolata', monospace;
    font-size: 100%;
    padding: 0.3em;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid var(--input-enabled-border-color);
    background: var(--input-enabled-background-color);
    color: var(--input-enabled-text-color);
    box-shadow: none; /* :-moz-submit-invalid on FF */
    transition: border-color 0.1s linear, background-color 0.1s linear;
}

select:disabled,
textarea:disabled,
input[type=text]:disabled,
input[type=email]:disabled,
input[type=password]:disabled {
    border: 2px solid var(--input-disabled-border-color);
    background: var(--input-disabled-background-color);
    color: var(--input-disabled-text-color);
}

select:focus,
textarea:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    border-color: var(--main-color);
}

form.show-validation .input input:invalid {
    outline: none;
    border: 2px solid var(--input-bad-border-color);
    background: var(--input-bad-background-color);
}
form.show-validation .input input:valid {
    outline: none;
    border: 2px solid var(--input-good-border-color);
    background: var(--input-good-background-color);
}



/*
 * Buttons
 */
button,
input[type=button],
input[type=submit] {
    cursor: pointer;
    font-size: 100%;
    line-height: 100%;
    padding: 0.3em 0.7em;
    border: 1px solid var(--button-enabled-background-color);
    background: var(--button-enabled-background-color);
    color: var(--button-enabled-text-color);
}
button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled {
    cursor: default;
    border-color: var(--button-disabled-background-color);
    background-color: var(--button-disabled-background-color);
    color: var(--button-disabled-text-color);
}
button:focus,
input[type=button]:focus,
input[type=submit]:focus {
    outline: 2px solid var(--text-color);
}
select:-moz-focusring {
    text-shadow: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
}



/*
 * File dropper
 */
.file-dropper {
    background: white;
    border: 3px dashed #eee;
    padding: 0.3em 0.5em;
    line-height: 140%;
    text-align: center;
    cursor: pointer;
    word-wrap: break-word;
}
input[type=file]:disabled+.file-dropper {
    cursor: default;
    opacity: .5;
}
input[type=file]:active+.file-dropper,
input[type=file]:focus+.file-dropper,
.file-dropper.active {
    border-color: var(--main-color);
}
