@import colors

#help
    width: 100%
    max-width: 45em
    nav
        margin-bottom: 1.5em
    td, th
        padding: 0 0.5em
        &:first-child
            white-space: pre
    .section
        margin-top: 2em
    h1
        margin-top: 2.5em
        font-size: 1.6em
        &:first-child
            margin-top: 0
        @media (max-width: 1000px)
            margin-top: 1.5em
            &:first-child
                margin-top: 0
    nav
        ul
            margin: 0 auto
            text-align: left
    nav.secondary
        font-size: 0.95em

    @media (max-width: 600px)
        th, thead
            display: none
        table, tr, td, tbody
            display: block
        tr
            margin-bottom: 0.8em
        pre
            white-space: pre-wrap
