@import colors

#help
    width: 40em
    nav
        margin-bottom: 1.5em
    td, th
        padding: 0 0.5em
        &:first-child
            white-space: pre
    .section
        margin-top: 2em
    h1
        margin-top: 2.5em
        font-size: 1.6em
        &:first-child
            margin-top: 0
