#home
    text-align: center !important

    header
        margin-bottom: 1em
        h1
            line-height: initial
            font-size: 30pt
            margin: 0

    .message
        margin-bottom: 2em

    form
        width: auto
        vertical-align: middle
        margin: 0 0 2em 0
        text-align: left
        white-space: nowrap
        input
            width: auto
        .sep
            margin: 0 0.75em

    .post-container
        margin-bottom: 2em
        display: flex
        align-items: center
        justify-content: center

    nav
        a
            padding: 0.5em

    aside
        margin-bottom: 0.3em
        font-size: 90%

    footer
        line-height: 100%
        font-size: 80%
        .sep
            margin: 0 0.25em
