#home
    text-align: center !important

    header
        h1
            margin-top: 0
            margin-bottom: 0.2em
        aside
            opacity: .5
            font-size: 80%
            margin-bottom: 2em

    .message
        margin-bottom: 2em

    form
        margin-bottom: 2em
        width: auto
        white-space: nowrap
        input
            width: auto
        .separator
            display: inline-block
            margin: 0 1.5em

    .post-container
        display: flex
        align-items: center
        justify-content: center

    nav
        margin-bottom: 0.5em
        a
            padding: 0.5em

    aside
        margin-bottom: 1em
        font-size: 90%

    footer
        margin-top: 1em
        line-height: 100%
        font-size: 80%
