#home
    text-align: center !important

    h1
        margin-top: 0
        margin-bottom: 0.5em

    .message
        margin-bottom: 2em

    .post-container
        display: flex
        align-items: center
        justify-content: center

    nav
        margin-bottom: 0.5em
        a
            padding: 0.5em

    form
        width: auto

    aside
        margin-top: 0.2em
        margin-bottom: 1em

    footer
        font-size: 80%
