@import colors
$pool-navigator-header-background-color = $top-navigation-color
$pool-navigator-header-background-color-darktheme = $top-navigation-color-darktheme

.pool-navigator-container
    padding: 0 0 0 60px

.darktheme .pool-navigator-container
    background: $pool-navigator-header-background-color-darktheme
