@import colors

#post-upload
    form
        width: 100%
        max-width: 40em
        margin: 0 auto
        text-align: left

        &.inactive
            input[type=submit]
                display: none

    .dropper-container
        margin: 0 auto
        .file-dropper
            font-size: 150%
            padding: 2em

    input[type=submit]
        margin-top: 1em

    .messages
        margin-top: 1em

    .uploadables-container
        line-height: 200%

        li
            margin: 0 0 1.2em 0

        .uploadable
            .file
                overflow: hidden
                white-space: nowrap
                text-align: left
                text-overflow: ellipsis

            .safety
                label
                    margin-right: 1em

            .thumbnail
                float: left
                width: 12.5em
                height: 7em
                margin: 0.2em 1em 0 0

            .controls
                float: right
                a
                    color: $inactive-link-color
