#post
    width: 100%
    max-width: 40em
    h1
        margin-top: 0
    form
        width: 100%
    .buttons i
        margin-right: 0.5em
    .post-merge
        .left-post-container
            width: 47%
            float: left
        .right-post-container
            width: 47%
            float: right
        .post-mirror
            margin-bottom: 1em
            &:after
                display: block
                height: 1px
                content: ' '
                clear: both
        .post-thumbnail .thumbnail
            width: 100%
            height: 9em
        .target-post .thumbnail
            margin-right: 0.35em
        .target-post, .target-post-content
            margin: 1em 0
        header
            margin-bottom: 1em
            label
                display: inline-block
                margin-top: 2px
            input[type=text]
                width: 6em
