#settings
    .uploadSafety
        &>label
            width: 100%
        .radio-wrapper
            display: flex
            flex-wrap: wrap
        .radio-wrapper label
            flex-grow: 1
            display: inline-block