$snapshot-created-background-color = #E0F5E0
$snapshot-modified-background-color = #E0F5FF
$snapshot-deleted-background-color = #FDE5E5
$snapshot-merged-background-color = #FEC

.snapshot-list
    text-align: left

    ul
        margin: 0 auto
        padding: 0
        width: 100%
        max-width: 35em
        list-style-type: none

        li
            margin-bottom: 1em
            &:last-child
                margin-bottom: 0

            .time
                float: right

            div
                padding: 0.1em 0.5em
                .thumbnail
                    margin: 0 0.4em 0 0
                &:empty
                    padding: 0

            div.operation-created
                background: $snapshot-created-background-color
                &+.details
                    background: alpha(@background, 50%)
            div.operation-modified
                background: $snapshot-modified-background-color
                &+.details
                    background: alpha(@background, 50%)
            div.operation-deleted
                background: $snapshot-deleted-background-color
                &+.details
                    background: alpha(@background, 50%)
            div.operation-merged
                background: $snapshot-merged-background-color
                &+.details
                    background: alpha(@background, 50%)

.darktheme .snapshot-list ul li
    div.operation-created
        background: darken($snapshot-created-background-color, 80%)
        &+.details
            background: alpha(@background, 50%)
    div.operation-modified
        background: darken($snapshot-modified-background-color, 80%)
        &+.details
            background: alpha(@background, 50%)
    div.operation-deleted
        background: darken($snapshot-deleted-background-color, 80%)
        &+.details
            background: alpha(@background, 50%)
    div.operation-merged
        background: darken($snapshot-merged-background-color, 80%)
        &+.details
            background: alpha(@background, 50%)
