@import colors

.tag-list
    table
        width: 100%
        border-spacing: 0
        text-align: left
        line-height: 1.3em
        tr:hover td
            background: $top-nav-color
        th, td
            padding: 0.1em 0.5em
        .names
            width: 30%
        .implications
            width: 30%
        .suggestions
            width: 30%
        .usages
            text-align: center
            width: 10%
        ul
            list-style-type: none
            margin: 0
            padding: 0
            display: inline
            li
                padding: 0
                display: inline
                &:not(:last-child):after
                    content: ', '
.tag-list-header
    text-align: left
    form
        width: auto
    input[name=search-text]
        max-width: 15em
    .append
        font-size: 0.95em
        color: $inactive-link-color

.tag-categories
    td, th
        padding: .2em
        &:first-child
            padding-left: 0
        &:last-child
            padding-right: 0
        &.name
            width: 12em
        &.color
            text-align: center
            width: 5em
        &.usages
            text-align: center
            width: 5em
    tfoot
        display: none
    .messages, form
        width: auto
