@import colors

.tag-list
    table
        width: 100%
        border-spacing: 0
        text-align: left
        line-height: 1.3em
        tr:hover td
            background: $top-navigation-color
        th, td
            padding: 0.1em 0.5em
        th
            background: $top-navigation-color
        .names
            width: 28%
        .implications
            width: 28%
        .suggestions
            width: 28%
        .usages
            text-align: center
            width: 8%
        .edit-time
            text-align: center
            width: 8%
            white-space: pre
        ul
            list-style-type: none
            margin: 0
            padding: 0
            display: inline
            li
                padding: 0
                display: inline
                &:not(:last-child):after
                    content: ', '
        @media (max-width: 800px)
            .implications, .suggestions
                display: none

.tag-list-header
    label
        display: none
    text-align: left
    form
        width: auto
    input[name=search-text]
        max-width: 15em
    .append
        font-size: 0.95em
        color: $inactive-link-color

.content-wrapper.tag
    width: 100%
    max-width: 40em
    h1
        word-break: break-all
        line-height: 130%
        margin-top: 0
    form
        width: 100%
        label:not(.radio):not(.checkbox):not(.file-dropper)
            width: 7em
        .messages, .buttons
            margin-left: 7em
    .tag-delete
        .messages, .buttons
            margin-left: 0 !important
    .tag-edit
        textarea
            height: 10em
    .tag-summary
        section
            &.description
                margin: 1.5em 0 0 0
            &.details
                vertical-align: top
                padding-right: 0.5em
                ul
                    margin: 0
                    padding: 0
                    list-style-type: none
                li
                    display: inline
                    margin: 0
                    padding: 0
                li:not(:last-of-type):after
                    content: ', '
                ul:empty:after
                    content: '(none)'
                section
                    margin-bottom: 1em

.content-wrapper.tag-categories
    width: 100%
    max-width: 40em
    table
        border-spacing: 0
        width: 100%
        tr.default td
            background: $default-tag-category-background-color
        td, th
            padding: .4em
            &.color
                text-align: center
            &.usages
                text-align: center
            &.remove, &.set-default
                white-space: pre
        tfoot
            display: none
    .messages, form
        width: auto
