@import colors

#user-registration
    form
        float: left
    .info
        float: left
        margin-left: 3em
        border-radius: 0.2em
        width: 20em
        ul
            line-height: 1.8em
            list-style-type: none
            margin: 0
            padding: 0
            li
                margin: 0
                padding: 0
        i
            margin-right: 0.5em
        i.fa
            color: $main-color
        p:first-child
            margin: 0 0 0.5em 0
