@import colors

#user-registration
    form
        float: left
    .info
        float: left
        margin-left: 3em
        border-radius: 0.2em
        width: 20em
        ul
            line-height: 1.8em
            list-style-type: none
            margin: 0
            padding: 0
            li
                margin: 0
                padding: 0
        i
            margin-right: 0.5em
        i.fa
            color: $main-color
        p:first-child
            margin: 0 0 0.5em 0


#user
    width: 100%
    max-width: 35em
    nav.text-nav
        margin-bottom: 1.5em

    #user-summary
        .thumbnail
            width: 6em
            height: 6em
            margin: 0 1.5em 1.5em 0
            float: left
        .basic-info
            list-style-type: none
            margin: 0
        div
            clear: both
        nav
            float: left
            width: 45%
            margin-right: 1em

    #user-edit
        form
            width: 100%
            display: flex
        .left
            width: 65%
        .right
            width: 35%
            margin-left: 1em
        .file-dropper-holder
            position: relative
        .file-dropper
            position: absolute
            left: 0
            right: 0

    #user-delete form
        width: 100%


.user-list
    ul
        list-style-type: none
        padding: 0
        display: flex
        align-content: flex-end
        flex-wrap: wrap
        margin: 0 -0.5em
        li
            flex-grow: 1
            width: 20em
            margin: 0 0.5em 1em 0.5em
            padding: 0.75em
            vertical-align: top
            background: $top-nav-color
            text-align: left
    .wrapper
        display: flex
    .details
        font-size: 90%
        line-height: 130%
    .thumbnail
        width: 3em
        height: 3em
        margin: 0 0.6em 0 0
.user-list-header
    text-align: left
    form
        width: auto
    input[name=search-text]
        max-width: 15em
    .append
        font-size: 0.95em
        color: $inactive-link-color
