@import colors

#user-registration
    padding-bottom: calc(2vw - 1em) !important
    form
        float: left
        margin-right: 3em
        margin-bottom: 1em
    .info
        float: left
        border-radius: 0.2em
        width: 20em
        margin-bottom: 1em
        ul
            line-height: 1.8em
            list-style-type: none
            margin: 0
            padding: 0
            li
                margin: 0
                padding: 0
        i
            margin-right: 0.5em
        i.fa
            color: $main-color
        p:first-child
            margin: 0 0 0.5em 0
        p:last-child
            margin-bottom: 0
