<div class='file-dropper-holder'>
    <input type='file' name='{{this.name}}' id='{{this.id}}'/>
    <label class='file-dropper' for='{{this.id}}'>
        {{#if this.allowMultiple}}
            Drop files here!
        {{else}}
            Drop file here!
        {{/if}}
        <br/>
        Or just click on this box.
    </label>
</div>
