<p>You can use your keyboard to navigate around the site. There are a few
shortcuts:</p>

<table>
    <thead>
        <tr>
            <th>Hotkey</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>[Q]</code></td>
            <td>Focus search field, if available</td>
        </tr>

        <tr>
            <td><code>[A]</code> and <code>[D]</code></td>
            <td>Go to newer/older page or post</td>
        </tr>

        <tr>
            <td><code>[F]</code></td>
            <td>Cycle post fit mode</td>
        </tr>

        <tr>
            <td><code>[E]</code></td>
            <td>Edit post</td>
        </tr>

        <tr>
            <td><code>[P]</code></td>
            <td>Focus first post in post list</td>
        </tr>
    </tbody>
</table>

<p>Additionally, each item in top navigation can be accessed using feature
called &ldquo;access keys&rdquo;. Pressing underlined letter while holding
Shfit or Alt+Shift (depending on your browser) will go to the desired page
(most browsers) or focus the link (IE).</p>
