<div class='content-wrapper transparent' id='home'>
    <div class='messages'></div>
    <h1>{{name}}</h1>
    <footer>Version: <span class='version'>{{version}}</span> (built {{#reltime}}{{buildDate}}{{/reltime}})</footer>
</div>
