<div class='content-wrapper' id='login'>
    <h1>Log in</h1>
    <form>
        <div class='input'>
            <ul>
                <li>
                    {{textInput text='User name' id='user-name' name='name' required=true pattern=this.userNamePattern}}
                </li>
                <li>
                    {{passwordInput text='Password' id='user-password' name='password' required=true pattern=this.passwordPattern}}
                </li>
                <li>
                    {{checkbox text='Remember me' id='remember-user' name='remember-user'}}
                </li>
            </ul>
        </div>
        <div class='messages'></div>
        <div class='buttons'>
            <input type='submit' value='Log in'/>
            {{#if this.canSendMails}}
                <a href='/password-reset'>Forgot the password?</a>
            {{/if}}
        </div>
    </form>
</div>
