<div class='content-wrapper' id='password-reset'>
    <h1>Password reset</h1>
    <form autocomplete='off'>
        <fieldset class='input'>
            <ul>
                <li>
                    <label for='user-name'>User name or e-mail address</label>
                    <input id='user-name' name='user-name' type='text' autocomplete='off' required/>
                </li>
            </ul>
        </fieldset>
        <p><small>Proceeding will send an e-mail that contains a password reset
        link. Clicking it is going to generate a new password for your account.
        It is recommended to change that password to something else.</small></p>
        <fieldset class='messages'></fieldset>
        <fieldset class='buttons'>
            <input type='submit' value='Proceed'/>
        </fieldset>
    </form>
</div>
