<div class='tag-list-header'>
    <form class='horizontal'>
        <div class='input'>
            <ul>
                <li>
                    {{textInput id='search-text' name='search-text' value=this.searchQuery.text}}
                </li>
            </ul>
        </div>
        <div class='buttons'>
            <input type='submit' value='Search'/>
            <a class='append' href='/help/search/tags'>Syntax help</a>
        </div>
    </form>
</div>
