<div id='user-delete'>
    <form>
        <div class='input'>
            <ul>
                <li>
                    <%= makeCheckbox({id: 'confirm-deletion', name: 'confirm-deletion', required: true, text: 'I confirm that I want to delete this account.'}) %>
                </li>
            </ul>
        </div>
        <div class='messages'></div>
        <div class='buttons'>
            <input type='submit' value='Delete account'/>
        </div>
    </form>
</div>
