<div class='content-wrapper' id='user'>
    <h1><%= user.name %></h1>
    <nav class='text-nav'><!--
        --><ul><!--
            --><li data-name='summary'><a href='/user/<%= user.name %>'>Summary</a></li><!--
            --><% if (canEditAnything) { %><!--
                --><li data-name='edit'><a href='/user/<%= user.name %>/edit'>Account settings</a></li><!--
            --><% } %><!--
            --><% if (canDelete) { %><!--
                --><li data-name='delete'><a href='/user/<%= user.name %>/delete'>Account deletion</a></li><!--
            --><% } %><!--
        --></ul><!--
    --></nav>
    <div id='user-content-holder'></div>
</div>
