<div class='messages'></div>

<div class='content-wrapper' id='user'>
    <h1>{{this.name}}</h1>
    <nav class='text-nav'><!--
        --><ul><!--
            --><li data-name='summary'><a href='/user/{{this.name}}'>Summary</a></li><!--
            --><li data-name='edit'><a href='/user/{{this.name}}/edit'>Account settings</a></li><!--
        --></ul><!--
    --></nav>
    <div id='user-content-holder'></div>
</div>
