<div class='content-wrapper' id='user'>
    <h1>{{this.user.name}}</h1>
    <nav class='text-nav'><!--
        --><ul><!--
            --><li data-name='summary'><a href='/user/{{this.user.name}}'>Summary</a></li><!--
            -->{{#if this.canEditAnything}}<!--
            --><li data-name='edit'><a href='/user/{{this.user.name}}/edit'>Account settings</a></li><!--
            -->{{/if}}<!--
        --></ul><!--
    --></nav>
    <div id='user-content-holder'></div>
</div>
