<div class='user-list'>
    <ul><!--
        --><% _.each(results, user => { %><!--
            --><li>
                <div class='wrapper'>
                    <a class='image' href='/user/<%= user.name %>'><%= makeThumbnail(user.avatarUrl) %></a>
                    <div class='details'>
                        <a href='/user/<%= user.name %>'><%= user.name %></a><br/>
                        Registered: <%= makeRelativeTime(user.creationTime) %><br/>
                        Last seen: <%= makeRelativeTime(user.lastLoginTime) %>
                    </div>
                </div>
            </li><!--
        --><% }) %><!--
        --><%= makeFlexboxAlign() %><!--
    --></ul>
</div>
