<div id='user-edit'>
    <form class='tabular'>
        <div class='input'>
            <ul>
                {{#if this.canEditName}}
                    <li>
                        {{textInput text='User name' id='user-name' name='name' value=this.user.name}}
                    </li>
                {{/if}}

                {{#if this.canEditPassword}}
                    <li>
                        {{passwordInput text='Password' id='user-password' name='password' placeholder='leave blank if not changing'}}
                    </li>
                {{/if}}

                {{#if this.canEditEmail}}
                    <li>
                        {{emailInput text='Email' id='user-email' name='email' value=this.user.email}}
                    </li>
                {{/if}}

                {{#if this.canEditRank}}
                    <li>
                        {{select text='Rank' id='user-rank' name='rank' keyValues=this.ranks selectedKey=this.user.rank}}
                    </li>
                {{/if}}
            </ul>
            <!-- TODO: avatar -->
        </div>
        <div class='messages'></div>
        <div class='buttons'>
            <input type='submit' value='Save settings'/>
        </div>
    </form>
</div>
