body {
    margin: 0;
    color: #111;
    font-family: 'Droid Sans' !important;
    font-size: 12pt;
}

a {
    color: #24AADD;
}

#content-holder {
    margin-top: 1em;
    text-align: center;
}
#content-holder>.center {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
}
hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1em 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
nav ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: inline-block;
}
nav ul li img {
    margin: 0;
    vertical-align: top; /* fix ghost margin under the image */
}

nav.text-nav {
    margin: 1em 0;
}
nav.text-nav ul li a {
    padding: 0.3em 1.2em;
    text-decoration: none;
}
nav.text-nav ul li:not(.active) a {
    color: #888;
}
nav.text-nav ul li.active a {
    background: #24AADD;
    color: white;
}

#top-nav {
    background: #F5F5F5;
    margin: 0;
}
#top-nav ul {
    display: block;
    text-align: right;
}
#top-nav ul li {
    float: left;
}
#top-nav ul li[data-name=register],
#top-nav ul li[data-name=login],
#top-nav ul li[data-name=logout],
#top-nav ul li[data-name=help] {
    float: none;
}
