#user-registration form {
    display: block;
    width: 20em;
    float: left;
}
#user-registration .info {
    line-height: 1.8em;
    float: left;
    margin-left: 3em;
    border-radius: 0.2em;
    width: 20em;
}
#user-registration .info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#user-registration .info li {
    margin: 0;
    padding: 0;
}
#user-registration .info i {
    margin-right: 0.5em;
}
#user-registration .info i.fa {
    color: var(--main-color);
}
#user-registration .info p:first-child {
    margin: 0 0 0.5em 0;
}
#user-registration .input li:first-child label {
    padding-top: 0;
    margin-top: 0;
}
#user-registration .buttons {
    margin-top: 1em;
}
#user-registration p.hint {
    margin-top: 0.5em;
    color: var(--inactive-link-color);
    font-size: 80%;
}
