# Linter configs
pyproject.toml
.flake8

# Python requirements files
requirements.txt
dev-requirements.txt

# Docker build files
Dockerfile
.dockerignore
hooks/

# User configured config file
config.yaml
