[basic]
function-rgx=^_?[a-z_][a-z0-9_]{2,}$|^test_
method-rgx=^[a-z_][a-z0-9_]{2,}$|^test_
const-rgx=^[A-Z_]+$|^_[a-zA-Z_]*$
good-names=ex,_,logger

[variables]
dummy-variables-rgx=_|dummy

[format]
max-line-length=79

[messages control]
reports=no
disable=
    # we're not java
    missing-docstring,

    # covered better by pycodestyle
    bad-continuation,

    # we're adults
    redefined-builtin,
    duplicate-code,
    too-many-return-statements,
    too-many-arguments,

    # plain stupid
    no-self-use,
    too-few-public-methods

[typecheck]
generated-members=add|add_all

[similarities]
min-similarity-lines=5
