[basic]
method-rgx=[a-z_][a-z0-9_]{2,30}$|^test_

[variables]
dummy-variables-rgx=_|dummy

[format]
max-line-length=90

[messages control]
disable=missing-docstring,no-self-use,too-few-public-methods

[typecheck]
generated-members=add|add_all
