<p>Szurubooru is an image board engine inspired by services such as Danbooru,
Gelbooru and Moebooru. Its name <a href='http://sjp.pwn.pl/sjp/;2527372'>has
its roots in Polish language and has onomatopeic meaning of scraping or
scrubbing</a>. It is pronounced as <em>shoorubooru</em>.</p>

<p class='section'><strong>Registration</strong></p>

<p>The e-mail you enter during account creation is only used to retrieve your
Gravatar and for password reminders. Only you can see it (well, except the
database staff&hellip; we won&rsquo;t spam your mailbox anyway).</p>

<p>Oh, and you can delete your account at any time. Posts you uploaded will
stay, unless some angry admin removes them.</p>
